* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.div__1, .div__2, .div__3, .div__4, .div__5 {
    width: 100%;
    min-width: 15rem;
    height: 15rem;
}

.div__1 {
    background-color: blue;
}

.div__2 {
    background-color: black;
}

.div__3 {
    background-color: aqua;
}

.div__4 {
    background-color: violet;
}

.div__5 {
    background-color: brown;
}

@media screen and (min-width: 600px) {
    .div__1 {
        width: 25%;
        order: 1;
    }

    .div__2 {
        width: 75%;
        order: 2;
    }

    .div__3 {
        width: 100%;
        order: 3;
    }

    .div__4 {
        width: 100%;
        order: 4;
    }

    .div__5 {
        width: 100%;
        order: 5;
    }
}

@media screen and (min-width: 800px) {
    .div__1 {
        width: 30%;
    }

    .div__2 {
        width: 40%;
    }

    .div__3 {
        width: 30%;
    }

    .div__4 {
        width: 50%;
    }

    .div__5 {
        width: 50%;
    }
}